.navBar {
    background-color: burlywood;
    overflow: hidden;
}


.navBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navBar li a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 24px 30px;
}

.navBar li a:hover {
    background-color: #575757;
  }

  .navbar-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    display: none; /* Hide by default */
  }
  
  .navbar-toggle i {
    margin: 0;
  }

  @media (max-width: 768px) {
    .navbar-links {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 70%;
      background-color: #333;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
      z-index: 999;
    }
  
    .navbar-links.active {
      transform: translateX(0);
    }
  
    .navbar-links ul {
      flex-direction: column;
      padding: 20px;
    }
  
    .navbar-toggle {
      display: block; /* Show toggle icon on mobile */
    }
    .navbar-logo, .navbar-toggle {
        display: block;
      }
  }