/* Main navbar styles */
.navBar {
  background-color: #27374D;
  overflow: hidden;
  display: flex;
  justify-content: space-between;;
  align-items: center;
  position: fixed;
  height: 80px; /* Increase the height of the navbar */
  width: 100%;
  z-index: 888;

}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  height: 100%; /* Make sure ul takes the full height of the navbar */
  width: 100%; /* Ensure full width */
}

.navBar li {
  margin: 0; /* Ensure there is no margin on li elements */
  padding: 0; /* Ensure there is no padding on li elements */
  height: 100%; /* Make sure li takes the full height of the navbar */
  display: flex; /* Align items to the center */
  align-items: center;
  flex: 1; /* Equal width distribution */
}

.navBar li a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 0 20px; /* Adjust horizontal padding */
  height: 100%; /* Make sure a takes the full height of the navbar */
  line-height: 80px; /* Align text vertically */
}

.navBar li a:hover {
  background-color: #9DB2BF;
}

/* Navbar toggle button for mobile view */
.navbar-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  display: none; /* Hide by default */
  background: none;
  border: none;
  padding: 10px;
  margin: 0;
  position: relative;
  z-index: 1000; /* Ensure it's on top */
}

.navbar-brand{
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 30px;
  color: white; /* Ensure the brand name is visible */
  text-decoration: none;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .navbar-links {
    position: fixed;
    top: 80px; /* Match this with the height of .navBar */
    left: 0;
    height: 60%;
    width: 100%;
    background-color: #27374D;
    transform: translateY(calc(-100% - 80px)); 
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    visibility: hidden; /* Hide by default */

  }
  
  .navbar-links.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; /* Show the links */
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }


  .navbar-links li {
    width: 100%;
    text-align: center;
  }

  .navbar-links li a {
    width: 100%;
  }

  .navbar-toggle {
    display: block; /* Show toggle icon on mobile */
  }
}
